:root {
    --color1: #fefae0;
    --color2: #ccd5ae;
    --color3: #d4a373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1 {
    color: var(--color3);
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input { 
    margin: 20px;
}

body {
    background-color: var(--color1);
}

canvas {
    background-color: var(--color2);
    width: 600px;
    height: 400px;
}

.canva {
    display: flex;
    justify-content: center;
}

input {
    width: 100px;
    height: 30px;
    font-size: 1em;
    text-align: center;
    border-radius: 10%;
    border: none;
}

button {
    height: 100%;
    border-radius: 10%;
    border: none;
    transition: background-color 0.3s ;
}

button:hover {
    background-color: pink;
}